<%- include('header') %>
<main>
  <div id="error-gif">
    <img src="https://i.pinimg.com/originals/13/3d/62/133d62f4c7611596b265b81bfb9be08c.gif" alt="404 gif">
  </div>
</main>
<%- include('footer') %>