<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon pokedex</title>
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/css/script-front.js"></script>
</head>

<header class="header">

  <nav id="nav-bar-mobile">
    <div class="section-left">
      <img id="nav-bar-mobile-button-open" src="/img/icons-front/menu-button.png" alt="boutton-menu">
    </div>
    <div class="section-right">
      <a class="nav-mobile-title" href="/">
        <h1>P0kedex</h1>
      </a>
    </div>
  </nav>

  <div class="mobile-menu-popup">
    <a class="mobile-menu-popup-link" href="/">Accueil</a>
    <a class="mobile-menu-popup-link" href="/pokelist">Tous les pokémons</a>
    <a class="mobile-menu-popup-link" href="/search">Recherche</a>
    <a class="mobile-menu-popup-link" href="/profil">Profil</a>
    <img class="mobile-menu-popup-close-button" src="/img/icons-front/close-button.png" alt="Boutton-fermer">
  </div>

  <nav id="nav-bar">
    <a class="header-nav-title" href="/">
      <h1>P0kedex</h1>
    </a>
    <div class="header-nav-link">
      <a class="header-nav-link-button" href="/">Accueil</a>
      <a class="header-nav-link-button" href="/pokelist">Tous les pokémons</a>
      <a class="header-nav-link-button" href="/search">Recherche</a>
      <a class="header-nav-link-button" href="/profil">Profil</a>
    </div>
  </nav>

</header>