<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon pokedex</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<header class="header">
  <nav id="nav-bar">
    <a class="header-nav-title" href="/">
      <h1>P0kedex</h1>
    </a>
    <div class="header-nav-link">
      <a class="header-nav-link-button" href="/">Accueil</a>
      <a class="header-nav-link-button" href="/pokelist">Tous les pokémons</a>
      <a class="header-nav-link-button" href="/search">Recherche</a>
      <a class="header-nav-link-button" href="/profil">Profil</a>
    </div>
  </nav>
</header>