<%- include('header') %>

<main class="mainContainer">
  <h1 class="home-title">Bienvenue à vous dresseurs !</h1>
  <img class="home-gif" src="/img/gif_home/" alt="pokebawl de la page d'acceuil">
</main>

<%- include('footer') %>