<%- include('header') %>

<main class="mainContainer">
  <h1>Bienvenue dresseuse & dresseur !</h1>
  <div class="buttonLink" >
    <a href="/pokelist">Tous les pokémons</a> 
  </div>
</main>

<%- include('footer') %> 