<%- include('header') %>

<main class="mainContainer">
  <form id="search-form">
    <label for="type-input">Type de Pokémon :</label>
    <select id="type-input" name="type">
      <option value="">-</option>
      <option value="eau">Eau</option>
      <option value="pierre">Pierre</option>
      <!-- Ajoutez d'autres options pour les types de Pokémon -->
    </select>
    <button type="submit">Rechercher</button>
  </form>
</main>

<%- include('footer') %>